# Logs
logs
*.log
npm-debug.log*
public
.pnpm-debug.log*

# Dependencies
node_modules

# Environment varibales
.env*
!.env*.example

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# OS-specific files
.DS_Store
Thumbs.db

# Editors
.vscode
.idea/
*.swp

# Optional lock files (if not using that package manager)
package-lock.json
yarn.lock
pnpm-lock.yaml
