<div>
    <p>If you didn't request this email, you can simply ignore it.</p>
    <p> If you have any additional questions, send us an email on <a style="color: #112B50; text-decoration:none;"
            href="mailto:support@newscollector.com">support@newscollector.com</a>. We will be happy to help you.</p>
    <p>© 2024 NewsCollector.io. All rights reserved.</p>
</div>