<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>
<style>
    img {
        border: none;
        -ms-interpolation-mode: bicubic;
        max-width: 100%;
    }

    body {
        background: #fff;
        font-family: 'Poppins', sans-serif !important;
        -webkit-font-smoothing: antialiased;
        font-size: 16px;
        line-height: 1.5em;
        margin: 0;
        padding: 0;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    table {
        border-collapse: separate;
        border-spacing: 0;
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
        width: 100%;
    }

    table td {
        font-size: 16px;
    }

    table tr:nth-child(even) {
        background-color: #fff;
    }

    .body {
        width: 100%;
    }

    .container {
        display: block;
        margin: 0 auto !important;
    }

    .content {
        box-sizing: border-box;
        display: block;
        margin: 0 auto;
    }

    .main {
        width: 100%;
        padding: 16px;
    }

    .wrapper {
        box-sizing: border-box;
        padding: 16px;
    }

    .content-block {
        padding-bottom: 12px;
        padding-top: 12px;
    }

    .header {}

    .footer {
        clear: both;
        text-align: center;
        width: 100%;
    }

    .footer td,
    .footer p,
    .footer span,
    .footer a {
        font-size: 16px !important;
        text-align: center;
        text-decoration: none;
        padding-right: 5px;
    }

    .footer tr {}

    .footer td {
        padding: 4px 20px;
    }

    h1,
    h2,
    h3,
    h4 {
        color: #00193c;
        font-weight: 700;
        line-height: 1.5em;
        margin: 0;
        margin-bottom: 16px;
    }

    h1 {
        font-size: 28px;
        font-weight: 500;
        text-align: left;
        letter-spacing: -0.02em;
    }

    p,
    ul,
    ol {
        font-size: 16px;
        font-weight: normal;
        color: #66758a;
        margin: 0;
        margin-bottom: 16px;
        line-height: 1.5em;
    }

    p li,
    ul li,
    ol li {
        list-style-position: inside;
        margin-left: 8px;
    }

    .mblogo {
        margin: 6px 0 0 40px;
    }

    .btn {
        box-sizing: border-box;
        width: 100%;
    }

    .btn>tbody>tr>td {
        padding-bottom: 12px;
    }

    .btn table {
        width: auto;
        padding: 12px 0;
    }

    .btn table td {
        border-radius: 4px;
        text-align: center;
    }

    .tr-spacing {
        margin-left: 10px;
    }

    .last {
        margin-bottom: 0;
    }

    .first {
        margin-top: 0;
    }

    .align-center {
        text-align: center;
    }

    .align-right {
        text-align: right;
    }

    .align-left {
        text-align: left;
    }

    .clear {
        clear: both;
    }

    .mt0 {
        margin-top: 0;
    }

    .mb0 {
        margin-bottom: 0;
    }

    .preheader {
        color: transparent;
        display: none;
        height: 0;
        max-height: 0;
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        mso-hide: all;
        visibility: hidden;
        width: 0;
    }

    .powered-by a {
        text-decoration: none;
    }

    hr {
        border: 0;
        border-bottom: 1px solid #f6f6f6;
        margin: 10px 0;
    }

    @media only screen and (max-width: 620px) {
        table[class=body] h1 {
            font-size: 24px !important;
            margin-bottom: 12px !important;
        }

        table[class=body] p,
        table[class=body] ul,
        table[class=body] ol,
        table[class=body] td,
        table[class=body] span,
        table[class=body] a {
            font-size: 16px;
        }

        table[class=body] .wrapper,
        table[class=body] .article {
            padding: 12px !important;
        }

        table[class=body] .content {
            padding: 0 !important;
        }

        table[class=body] .container {
            padding: 0 !important;
            width: 100% !important;
        }

        table[class=body] .main {
            border-left-width: 0 !important;
            border-radius: 0 !important;
            border-right-width: 0 !important;
        }

        table[class=body] .btn table {
            width: 100% !important;
        }

        table[class=body] .btn a {
            width: 100% !important;
        }

        table[class=body] .img-responsive {
            height: auto !important;
            max-width: 100% !important;
            width: auto !important;
        }

        .mblogo {
            margin: 12px 12px 6px 12px;
        }
    }

    @media all {
        .ExternalClass {
            width: 100%;
        }

        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }

        .apple-link a {
            color: inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            text-decoration: none !important;
        }

        .btn-primary table td:hover {
            background-color: #2264c6 !important;
        }

        .btn-primary a:hover {
            background-color: #2264c6 !important;
            border-color: #2264c6 !important;
        }
    }
</style>

<tr>
    <td style="text-align: center;">
        <a href="#">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScZOA-23AhL6o7zkXwebA-9QN2x1VgNaJiDA&s" width="220" alt="" />
        </a>
    </td>
</tr><br />